*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Secrets
SecretConfig.kt
**/SecretConfig.kt
credentials.json
**/credentials.json

# Tokens
token.json
**/token.json


# Keystore files
*.jks
*.keystore
